@import "tailwindcss";
:root{
--bg-primary:#0a2139;
--bg-secondary:#fbfdff;
--text-primary:#fdfdff;
  --text-secondary: #B3C0CE;
  --text-dark:#000000;
  --color-accent: #09243c;
  --color-secoodary: #051b2e;
  --color-primary: #ffcc53;
  --body-bg: #fff;

}